@font-face {
  font-family: MontserratReg;
  src: url("../fonts/Montserrat-Regular.ttf")
}
@font-face {
  font-family: MontserratBlack;
  src: url("../fonts/Montserrat-Black.ttf")
}
@font-face {
  font-family: MontserratLight;
  src: url("../fonts/Montserrat-Light.ttf")
}
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/Montserrat-Bold.ttf")
}